.container {
    display: flex;
    height: 48px;
}

.leftSide,
.rightSide {
    width: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.leftSide a,
.rightSide a {
    width: 48px;
    height: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
}

.buttonTransparent {
    background-color: rgba(0, 0, 0, 0.1);
}

.centerSide {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.title {
    font-weight: 600;
    font-size: 24px;
    color: #1B1B1B;
}

.subtitle {
    font-weight: 400;
    font-size: 13px;
    color: #6A7D8B;
}