.container {
    background-color: #FFF;
    display: flex;
    padding: 6px;
    border-radius: 5px;
    border: 1px solid #FFF;
}

.button {
    background-color: #F9F9F8;
    width: 48px;
    height: 48px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.input {
    border: 0;
    outline: 0;
    flex: 1;
    height: 48px;
    font-weight: 400;
    font-size: 16px;
    margin-left: 13px;
}