.container {
    display: flex;
    align-items: center;
    padding: 6px;
    border-radius: 4px;
}

.leftSide {
    width: 48px;
    height: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
}

.centerSide {
    flex: 1;
    padding: 0 16px;
    font-weight: 400;
    font-size: 15px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.rightSide {
    padding: 0 12px;
}