.container {
  background-color: #FFF;
}

.header {
  background-color: #F9F9FB;
  padding: 50px 24px 30px 24px;
}

.headerTop {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 27px;
}

.headerTopLeft {
}

.headerTitle {
  font-weight: 500;
  font-size: 24px;
  color: #1B1B1B;
}

.headerSubtitle {
  font-weight: 400;
  font-size: 16px;
  color: rgba(151, 151, 151, 0.8);
}

.headerTopRight {

}

.menuButton {
  width: 18px;
  height: 16px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.menuButtonLine {
  background-color: #000;
  height: 2px;
}

.headerBottom {

}

.grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 24px;
  margin: 0px 24px 0px 24px;
}